jobs:
  burrow:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: building
        run: |
          export CGO_ENABLED=0 GOPATH=~/go
          go mod tidy
          for GOARCH in amd64 arm64; do
          go env -w GOARCH=$GOARCH
          go build -trimpath -ldflags '-s -w -extldflags "-static"' -o $GOPATH/bin/burrow
          mkdir -p .git/$GOARCH && cp -av $GOPATH/bin/burrow .git/$GOARCH && file .git/$GOARCH/*
          done
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          provenance: false
          pull: true
          push: true
          sbom: false
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/burrow:latest
name: build
on:
  workflow_dispatch:
